
// Global
$width: 1000;
$push_or_pull: false;


// Breakpoints
$l: #{$width + 20}px;
$m: 768px;
$s: 500px;


// Colors
$purple: #761749;
$purple-shadow: #e2c0d0;
$blue: #00a697;
$blue-shadow: #cae8e4;
$brown: #582E17;
$yellow: #ffca3c;
$yellow-shadow: #ffebc6;
$green: #7eab46;
$green-shadow: #d1e38e;
$red: #c73b36;
$red-shadow: #fbc7ba;
$lightGray: #999;
